<p id="notice"><%= notice %></p>

<p>
  <strong>Design:</strong>
  <%= @note.design_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @note.note %>
</p>

<p>
  <strong>Key:</strong>
  <%= @note.key %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
