<div class="container-fluid">
	<%= render 'stage' %>
</div>

<div id="modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<h2>How To Play</h4>
				<p class="lead">It’s Easy!</p>
				<h3>Step 1</h3>
				<p>Press Record, the track will start playing.</p>
				<h3>Step 2</h3>
				<p>Press the following keys to change the lighting:</p>
				<ul id="keyboard" class="list-inline keys">
					<li><img src="<%= image_path('keys/q.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/w.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/e.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/r.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/t.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/y.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/u.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/i.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/o.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/p.png') %>" class="img-responsive" style="width: 45px;"></li>
				</ul>
				<ul class="list-inline keys">
					<li><img src="<%= image_path('keys/a.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/s.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/d.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/f.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/g.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/h.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/j.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/k.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/l.png') %>" class="img-responsive" style="width: 45px;"></li>
				</ul>
				<h3>Step 3</h3>
				<p>Submit your lighting design and share it on social!</p>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Play The Game!</button>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('#modal').modal('show');
	});
</script>