<div class="container">

	<div id="screen">

		<img id="blind" src="<%= image_path('blind.png') %>">

		<img id="strobe" src="<%= image_path('strobe.png') %>">

		<video id="white" preload loop muted>
			<source src="<%= video_path('white.mp4') %>" type="video/mp4">
		</video>

		<video id="red" preload loop muted>
			<source src="<%= video_path('red.mp4') %>" type="video/mp4">
		</video>

		<video id="green" preload loop muted>
			<source src="<%= video_path('green.mp4') %>" type="video/mp4">
		</video>

		<video id="blue" preload loop muted>
			<source src="<%= video_path('blue.mp4') %>" type="video/mp4">
		</video>

		<video id="yellow" preload loop muted>
			<source src="<%= video_path('yellow.mp4') %>" type="video/mp4">
		</video>

		<audio id="audio" preload>
			<source src="<%= audio_path('audio.mp3') %>" type="audio/mpeg">
		</audio>

		<div id="control">
			<div class="row">
				<div class="col-sm-2 col-xs-3">
					<button id="record" class="btn btn-block btn-danger disabled">Record</button>
				</div>
				<div class="col-sm-8 col-xs-6">
					<div class="progress" style="margin: 0; height: 34px;">
						<div class="progress-bar" role="progressbar" style="width: 0%;">
						</div>
					</div>
				</div>
				<div class="col-sm-2 col-xs-3">
					<button id="submit" class="btn btn-block btn-success">Submit</button>
				</div>
			</div>
		</div>

	</div>
	
	<h2>How To Play</h2>
	<p>When you press record, the track will start playing. Press the following keys to change the lighting:</p>
	<ul class="list-inline">
		<li>R = Red</li>
		<li>G = Green</li>
		<li>B = Blue</li>
		<li>Y = Yellow</li>
		<li>W = White</li>
	</ul>
</div>