<div class="container-fluid">
	<%= render 'stage' %>
</div>

<%
	unless @user.nil?
		if @entry.user_id == @user.id
%>
	<div id="modal" class="modal hidden-xs">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h2>Thanks For Playing!</h2>
					<p>Don't forget to share your design!</p>
					<ul class="list-inline" style="margin-bottom: 15px;">
						<li>
							<a data-url="https://www.facebook.com/sharer/sharer.php?u=<%=u request.original_url %>&output=embed" class="share facebook">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-facebook fa-fw fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li>
							<a data-url="https://twitter.com/home?status=<%=u request.original_url %>" class="share twitter">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-twitter fa-fw fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li>
							<a data-url="https://plus.google.com/share?url=<%=u request.original_url %>" class="share google">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-google-plus fa-fw fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li>
							<a data-url="https://www.linkedin.com/shareArticle?mini=true&url=<%=u request.original_url %>&title=<%=u 'Play The Light It Up Fantasy DJ Game!' %>&summary=<%=u 'Enter for your chance to win a Grand Prize DJ Set valued at $4,500!' %>&source=dpswmc2015.com" class="share linkedin">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-linkedin fa-fw fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					</ul>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Watch It!</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			$('#modal').modal('show');
		});
	</script>
<%
		end
	end
%>
	<div class="container">
		<h2>Think You Can Do Better?</h2>
		<p>Enter for your chance to win a Grand Prize DJ Set valued at $4,500!</p>
		<%= link_to 'PLAY!', new_user_path, :class => 'btn btn-lg btn-primary' %>
	</div>

<script>

	$(document).ready(function(){
		notes = [];
		<% @entry.notes.each do |note| %>
			notes.push({
				note: <%= note.note %>,
				key: <%= note.key %>
			});
		<% end %>
	});

</script>