<div class="container-fluid">

	<div id="screen">

		<img id="blind" src="<%= image_path('blind.png') %>">

		<img id="strobe" src="<%= image_path('strobe.png') %>">

		<video id="white" loop muted>
			<source src="<%= video_path('white.mp4') %>" type="video/mp4">
		</video>

		<video id="red" loop muted>
			<source src="<%= video_path('red.mp4') %>" type="video/mp4">
		</video>

		<video id="green" loop muted>
			<source src="<%= video_path('green.mp4') %>" type="video/mp4">
		</video>

		<video id="blue" loop muted>
			<source src="<%= video_path('blue.mp4') %>" type="video/mp4">
		</video>

		<video id="yellow" loop muted>
			<source src="<%= video_path('yellow.mp4') %>" type="video/mp4">
		</video>

		<audio id="audio">
			<source src="<%= audio_path('audio.mp3') %>" type="audio/mpeg">
		</audio>

		<div id="control">
			<div class="row">
				<div class="col-sm-2 col-xs-4">
					<button id="play" class="btn btn-block btn-success disabled">Play</button>
				</div>
				<div class="col-sm-4 col-sm-offset-2 hidden-xs text-center">
					<small class="text-uppercase">Created <%= @entry.created_at.strftime('%d/%m/%Y') %> by <%= @entry.user.name %></small>
				</div>
				<div class="col-sm-4 col-xs-8 text-right">
					<ul class="list-inline">
						<li class="hidden-xs"><small class="text-uppercase">Share</small></li>
						<li>
							<a data-url="https://www.facebook.com/sharer/sharer.php?u=<%=u request.original_url %>&output=embed" class="share facebook">
								<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-facebook fa-fw fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li>
							<a data-url="https://twitter.com/home?status=<%=u request.original_url %>" class="share twitter">
								<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-twitter fa-fw fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li>
							<a data-url="https://plus.google.com/share?url=<%=u request.original_url %>" class="share google">
								<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-google-plus fa-fw fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li>
							<a data-url="https://www.linkedin.com/shareArticle?mini=true&url=<%=u request.original_url %>&title=<%=u 'Play The Light It Up Fantasy DJ Game!' %>&summary=<%=u 'Enter for your chance to win a Grand Prize DJ Set valued at $4,500!' %>&source=dpswmc2015.com" class="share linkedin">
								<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-linkedin fa-fw fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>

<% if @entry.user_id == @user.id %>
	<div class="container">
		<h2>Thanks For Playing!</h2>
		<p>Don't forget to share your design!</p>
		<ul class="list-inline">
			<li>
				<a data-url="https://www.facebook.com/sharer/sharer.php?u=<%=u request.original_url %>&output=embed" class="share facebook">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-facebook fa-fw fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<li>
				<a data-url="https://twitter.com/home?status=<%=u request.original_url %>" class="share twitter">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-twitter fa-fw fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<li>
				<a data-url="https://plus.google.com/share?url=<%=u request.original_url %>" class="share google">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-google-plus fa-fw fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<li>
				<a data-url="https://www.linkedin.com/shareArticle?mini=true&url=<%=u request.original_url %>&title=<%=u 'Play The Light It Up Fantasy DJ Game!' %>&summary=<%=u 'Enter for your chance to win a Grand Prize DJ Set valued at $4,500!' %>&source=dpswmc2015.com" class="share linkedin">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-linkedin fa-fw fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
		</ul>
	</div>
<% else %>
	<div class="container">
		<h2>Think You Can Do Better?</h2>
		<p>Enter for your chance to win a Grand Prize DJ Set valued at $4,500!</p>
		<%= link_to 'PLAY!', new_user_path, :class => 'btn btn-lg btn-primary' %>
	</div>
<% end %>

<script>

	$(document).ready(function(){
/*
		soundManager.onready(function(){
			var loader = new PxLoader();
			loader.add(new PxLoaderImage('<%= image_path('blind.png') %>'));
			loader.add(new PxLoaderImage('<%= image_path('strobe.png') %>'));
			loader.addSound('audio', '<%= audio_path('audio.mp3') %>');
			loader.add(new PxLoaderVideo('<%= video_path('white.mp4') %>'));
			loader.add(new PxLoaderVideo('<%= video_path('red.mp4') %>'));
			loader.add(new PxLoaderVideo('<%= video_path('green.mp4') %>'));
			loader.add(new PxLoaderVideo('<%= video_path('blue.mp4') %>'));
			loader.add(new PxLoaderVideo('<%= video_path('yellow.mp4') %>'));
			loader.start();
			loader.addCompletionListener(function(e){
*/
				notes = [];
				<% @entry.notes.each do |note| %>
					notes.push({
						note: <%= note.note %>,
						key: <%= note.key %>
					});
				<% end %>
/*
				$('#play').removeClass('disabled');
			}); 
		});
*/
	});

</script>