<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

 	<meta property="og:url" content="<%= request.original_url %>">
	<meta property="og:title" content="Play The Light It Up Fantasy DJ Game!">
	<meta property="og:description" content="Enter for your chance to win a Grand Prize DJ Set valued at $4,500!">
	<meta property="og:site_name" content="DPS Inc.">
	<meta property="og:image" content="<%= asset_url('og.jpg') %>">
	<meta itemprop="name" content="Play The Light It Up Fantasy DJ Game!">
	<meta itemprop="description" content="Enter for your chance to win a Grand Prize DJ Set valued at $4,500!">
	<meta itemprop="image" content="<%= asset_url('og.jpg') %>">

  	<%= favicon_link_tag 'favicon.png', type: 'image/png' %>
	<%= csrf_meta_tags %>

	<title>Light Up The Night!</title>

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<%= stylesheet_link_tag 'frontpage', media: 'all' %>

	<script src="https://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


</head>
<body class="menu-always-on-top">
  <!-- Header BEGIN -->
  <div class="header header-mobi-ext">
    <div class="container">
      <div class="row">
        <!-- Logo BEGIN -->
        <div class="col-md-2 col-sm-2">
          <a class="scroll site-logo" href="http://www.dpsinc.com"><img src="<%= image_path('frontpage/dps_logo.png') %>" alt="DPS Inc"></a>
        </div>
        <!-- Logo END -->
        <a href="javascript:void(0);" class="mobi-toggler visible-sm visible-xs"><i class="fa fa-bars"></i></a>
        <!-- Navigation BEGIN -->
        <div class="col-md-10 pull-right">
          <ul class="header-navigation">
            <li class="current"><a href="#hero">Home</a></li>
            <li><a href="#contest">Contest</a></li>
            <li><a href="#poolparty">Pool Party</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#" class="noNav" id="rulesURL" data-modal="rules" data-toggle="modal" data-target="#rulesModal" >Rules</a></li>
            
          </ul>
        </div>
        <!-- Navigation END -->
      </div>
    </div>
  </div>

<!-- Hero block BEGIN -->
<div class="content-block" id="hero">
 <div class="content_wrap">
  <div class="container">
    <!-- Medium, Large  -->
    <div classs="row hidden-sm hidden-xs">
      <div class="col-md-4 hidden-xs hidden-sm padding-top-70">
        <img class="img-responsive" src="<%= image_path('frontpage/hero_dps_logo@2x.png') %>">
      </div>
      <div class="col-md-4 hidden-xs hidden-sm padding-top-70">
        <img class="img-responsive" src="<%= image_path('frontpage/hero_lutn_logo@2x.png') %>">
      </div>
      <div class="col-md-4 hidden-xs hidden-sm padding-top-70">
        <img class="img-responsive" src="<%= image_path('frontpage/hero_wmc_logo@2x.png') %>">
      </div>
    </div>
    <!-- END  Medium, Large  -->
    <!-- START XS, Small  -->
    <div classs="row hidden-md hidden-lg">
      <div class="col-sm-6 col-sm-offset-3 col-xs-12 hidden-md hidden-lg">
        <img class="img-responsive" src="<%= image_path('frontpage/hero_lutn_logo@2x.png') %>">
      </div>
      <div class="row">
        <div class="col-sm-offset-2 col-sm-4 col-xs-6 hidden-md hidden-lg">
          <img class="img-responsive" src="<%= image_path('frontpage/hero_dps_logo@2x.png') %>">
        </div>
        <div class="col-sm-4 col-xs-6 hidden-md hidden-lg">
          <img class="img-responsive" src="<%= image_path('frontpage/hero_wmc_logo@2x.png') %>">
        </div>
      </div>
    </div>
    <!-- END XS, Small  -->
    <div classs="row">
      <div class=" col-md-12 col-sm-12 col-xs-12 padding-top-70 btn_wrap">
        <a data-modal="play_the_game" data-toggle="modal" data-target="#loginModal" data-behavior="button" class="btn btn-lg btn-success">Play The Game</a>
      </div>
    </div>
  </div>
    <div class="gradient_overlay"></div>
    <div class="video_wrap">
      <img class="mobilefix" src="<%= image_path('frontpage/video_poster.png') %>">
      <video autoplay loop poster="<%= image_path('frontpage/video_poster.png') %>" preload="true" width="100%" height="100%">
		    <source src="<%= video_path('rp.mp4') %>" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="anchorwrap">
   <a class="next-block hidden-xs" data-anchor-role="next-block" data-anchor-dest="contest" href="#"></a>
  </div>
</div>
<!-- Hero block END -->

<!-- Contest block Start -->
<div class="content-block" id="contest" data-bkg-height="800" data-bkg-width="1200">
  <div class="container_wrap">
    <div class="container-fluid">
      <div class="row padding-top-50">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1 class="content-center">Play the Light It Up! Fantasy DJ Game!</h1>
        </div>
      </div>
    <div class="row padding-top-20">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <h3 class="content-center">Enter for your chance to win a Pioneer Grand Prize DJ Set valued at $4,500! <small>(must be present to win)</small></h3>
        <p>Hey all you expert and aspiring DJs and lighting designers! Here is your chance to design your very own light show to the throbbing beats of <strong>The Glitch Mob!</strong></p>
        <h3 class="content-center">Create Your Own Light Show: Share It &amp; Win!</h3>
        <p>It is up to you! Once your produce your own light show creation, now you need to showcase it to the world! The more shares, views, likes, and comments your light show earns, the greater your chance of winning! In the event of a tie, the finalists will be judged by DPS' own lighting design team.</p>
        <div classs="row">
          <div class="col-md-12 col-sm-12 col-xs-12 padding-top-70 btn_wrap">
            <a data-modal="play_the_game" data-toggle="modal" data-target="#loginModal" data-behavior="button" class="btn btn-lg btn-success">Play The Game</a>
          </div>
        </div>
      </div>
      <!-- Start  Right Side-->
      <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12"> 
        <div class="row">
          <!-- Left Right Side -->
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <img class="img-responsive" src="<%= image_path('frontpage/contest_prize_full_rig@2x.png') %>">
            <div class="visible-lg padding-top-50 "></div>
            <p>One Grand Prize Winner will be awarded with this killer DJ rig featuring the  <strong>Pioneer CDJ-2000 Nexus Multiplayer&amp; DJM-900 Nexus Mixer System</strong> valued at <strong>$4,500</strong>.</p>
          </div>
          <!-- Right Right Side -->
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h3 class="content-center">How It Works</h3>
            <p>Fantasy designers will be judged on creativity, use of color, synchronization and overall showmanship.</p>
            <p>Participants may create their light show remotely on their own computer system or in person at the DPS booth in the RICHELIEU ROOM on March 24th and 25th. Entries must be received by noon, <strong>Wednesday March 25th 2015</strong> with the winner chosen at the DPS booth at the <strong>Deauville Beach Resort Hotel at 3pm</strong> that same day.</p>
            <p>Must be present at WMC 30 and the DPS booth to win.</p>
            <h3 class="content-center">Create It &amp; Promote It!</h3>
            <p>Show off your work to the world to get votes for your design. Will it go viral? Share and promote your final lighting design videos on your social networks by tagging <strong>@dpsinc</strong>, <strong>#dpswmc</strong>, <strong>#lightitup</strong> and <strong>  </strong>.</p>
          </div>
        </div><!-- End Row -->
      </div>
    </div>
  </div>
  </div>
  <div class="parallax_wrap cutout_people" data-bkg-height="800" data-bkg-width="1200"></div>
  <div class="anchorwrap">
     <a class="next-block hidden-xs" data-anchor-role="next-block" data-anchor-dest="poolparty" href="#"></a>
  </div>
</div>
<!-- Contest block END -->

<!-- Pool Party block Start -->
<div class="content-block" id="poolparty" data-bkg-height="800" data-bkg-width="1200">
  <div class="container_wrap">
    <div class="container-fluid">
    <div class="row padding-top-50">
      <div class="col-md-12 col-sm-12 col-xs-12 content-center">
        <h1>Party Hard With DPS Poolside!</h1>
        <h2>Party Hard with DPS every night as we transform the Deauville Hotel pool into an outdoor nightclub!</h2>
        <h3>Get Your Swag On!</h3>
        <p>Meet the DPS Crew in the <strong>RICHELIEU ROOM</strong> and sign-up to win awesome <strong>SWAG &amp; COOL PRIZES!</strong></p>
        <p class="padding-top-30 hidden-sm hidden-md hidden-lg">
          <img ssrc="<%= image_path('frontpage/poolparty_beachball_small.png') %>">
        </p>
      </div>
    </div>
    
  </div>
  </div>
  <div class="parallax_wrap poolparty_beachball hidden-xs" data-bkg-height="800" data-bkg-width="1200"></div>
  <div class="parallax_wrap poolparty_caustics" data-bkg-height="800" data-bkg-width="1200"></div>
  <div class="anchorwrap">
     <a class="next-block hidden-xs" data-anchor-role="next-block" data-anchor-dest="contact" href="#"></a>
  </div>
</div>
<!-- Pool Party block END -->

  <!-- BEGIN PRE-FOOTER -->
  <div class="pre-footer content-block" id="contact">
    <div class="container">
      <div class="row">
        <!-- BEGIN BOTTOM ABOUT BLOCK -->
        <div class="col-md-4 col-sm-6 pre-footer-col">
          <h2>About DPS</h2>
          <p>Founded in 2001, DPS Inc. is a top name production services company providing clients with personalized customer service and turnkey solutions for the highest quality lighting, sound, video, and staging equipment. DPS Inc. provides state-of-the-art event solutions for concert tours, festivals, corporate events, motion picture, television and theaters with specialization in Commercial Integration, consulting, engineering, design and automation. A leader in the entertainment production space, DPS Inc. has worked with the most recognized names in the business. From worldwide touring artists such as Guns n’ Roses, Kaskade, Judas Priest, Dixie Chicks, Imagine Dragons, Marilyn Manson to major corporate clients that include Audi, Guggenheim, MTV, State Farm, and Samsung. Recent film and television clients include feature films 50 Shades of Gray, Nightcrawler, Disney’s The Jungle Book 2015 and Disney’s Tomorrowland, plus many more. DPS’ extensive, top of the line inventory is comprised of the latest innovation and equipment necessary to execute diverse projects across the board.</p>
        </div>
        <!-- END BOTTOM ABOUT BLOCK -->
        <!-- BEGIN TWITTER BLOCK --> 
        <div class="col-md-4 col-sm-6 pre-footer-col">
          <h2 class="margin-bottom-0">Latest Tweets</h2>
          <!-- href in a couple of days -->
          <a class="twitter-timeline"
            href="https://twitter.com/dpsevents"
            data-tweet-limit="4" 
            data-theme="dark" 
            data-widget-id="577307692684816384" 
            data-chrome="noheader nofooter noscrollbar noborders transparent">Loading Tweets by @dpsevents</a>


         <!--  <a class="twitter-timeline" href="https://twitter.com/twitterapi" data-tweet-limit="2" data-theme="dark" data-link-color="#57C8EB" data-widget-id="455411516829736961" data-chrome="noheader nofooter noscrollbar noborders transparent">Loading tweets by @keenthemes...</a>       -->
        </div>
        <!-- END TWITTER BLOCK -->
        <div class="col-md-4 col-sm-6 pre-footer-col">
          <!-- BEGIN BOTTOM CONTACTS -->
          <h2>Contact Us</h2>
          <address>
            <strong>Los Angeles</strong><br>
            7643 N San Fernando Rd<br>
            Burbank, CA 91505<br>
            <a href="tel:+1(818)337-1202">(818) 337-1202</a> Phone<br>
            (818) 337-1201 Fax
          </address>

          <address>
            <strong>New York</strong><br>
            1221 Avenue of the Americas<br>
            Suite #4200<br>
            New York, NY 10020<br>
            Main: (347) 896-5047<br>
            Direct: (347) 868-8027<br>
            <a title="John Orosz" href="mailto:jorosz@dpsinc.com" target="_blank">jorosz@dpsinc.com</a>
          </address>
          <!-- END BOTTOM CONTACTS -->
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <!-- END PRE-FOOTER -->
  <!-- BEGIN FOOTER -->
  <div class="footer content">
    <div class="container">
      <div class="row">
        <!-- BEGIN COPYRIGHT -->
        <div class="col-md-6 col-sm-6">
          <div class="copyright">&copy;2015 DPS Inc. ALL Rights Reserved.</div>
        </div>
        <!-- END COPYRIGHT -->
        <!-- BEGIN SOCIAL ICONS -->
        <div class="col-md-6 col-sm-6 pull-right">
          <ul class="list-inline">
            <li>
              <a href="https://www.facebook.com/digitalsoundps" target="_blank" class="social-icon facebook">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/dpsevents" target="_blank" class="social-icon twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="http://instagram.com/dpsinc" target="_blank" class="social-icon instagram">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/user/dpsincvideo" target="_blank" class="social-icon youtube">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- END SOCIAL ICONS -->
      </div>
    </div>
  </div>
  <!-- END FOOTER -->

<!-- Modal -->
<style type="text/css">
  .modal {
    z-index:10000;
    color:#000;
  }
  .modal-backdrop {
    background-color:#B8E986;
    z-index: 1000;
  }
  .modal-dialog {
    z-index: 2100;
  }
</style>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 style="color:#000;" class="modal-title" id="myModalLabel">Play the Game</h4>
      </div>
      <div class="modal-body">
      	<%= render 'form' %>
      </div>
      
    </div>
  </div>
</div>
<div class="modal fade" id="rulesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 style="color:#000;" class="modal-title" id="myModalLabel">Rules to the Game</h4>
      </div>
      <div class="modal-body">
      	<%= render 'rules' %>
      </div>
      
    </div>
  </div>
</div>
  <a href="#hero" class="go2top scroll"><i class="fa fa-arrow-up"></i></a>
	<%= javascript_include_tag "frontpage" %>
	  <script>
	    $(document).ready(function() {
	      Layout.init();
	    });
	  </script>

</body>
</html>



