<div id="brand" class="container-fluid">
	<div class="row">
		<div class="col-xs-2">
			<img src="<%= image_path('frontpage/hero_dps_logo@2x.png') %>" style="height: 90px; margin-top: 30px; width: auto;">
		</div>
		<div class="col-xs-8 text-center">
			<img src="<%= image_path('frontpage/hero_lutn_logo@2x.png') %>" style="height: 270px; width: 360px;">
		</div>
		<div class="col-xs-2">
			<img src="<%= image_path('frontpage/hero_wmc_logo@2x.png') %>" style="float: right; height: 90px; margin-top: 30px; width: auto;">
		</div>
	</div>
</div>

<div id="screen">
	<img id="b1" src="<%= image_path('b1-booth.png') %>" style="z-index: 5;">
	<img id="b2" src="<%= image_path('b2-booth.png') %>" style="z-index: 4;">
	<img id="s1" src="<%= image_path('s1-booth.png') %>" style="z-index: 3;">
	<img id="blank" src="<%= image_path('player-booth.png') %>" style="z-index: 2;">
	<!--<video id="rp" mediagroup="stage" loop muted>
		<source src="<%= video_path('rp-booth.mp4') %>" type="video/mp4">
	</video>
	<video id="rc" mediagroup="stage" loop muted>
		<source src="<%= video_path('rc-booth.mp4') %>" type="video/mp4">
	</video>
	<video id="gp" mediagroup="stage" loop muted>
		<source src="<%= video_path('gp-booth.mp4') %>" type="video/mp4">
	</video>
	<video id="gc" mediagroup="stage" loop muted>
		<source src="<%= video_path('gc-booth.mp4') %>" type="video/mp4">
	</video>
	<video id="bp" mediagroup="stage" loop muted>
		<source src="<%= video_path('bp-booth.mp4') %>" type="video/mp4">
	</video>
	<video id="bc" mediagroup="stage" loop muted>
		<source src="<%= video_path('bc-booth.mp4') %>" type="video/mp4">
	</video>-->
	<video id="yp" mediagroup="stage" loop muted>
		<source src="<%= video_path('yp-booth.mp4') %>" type="video/mp4">
	</video>
	<video id="yc" mediagroup="stage" loop muted>
		<source src="<%= video_path('yc-booth.mp4') %>" type="video/mp4">
	</video>
	<video id="wp" mediagroup="stage" loop muted>
		<source src="<%= video_path('wp-booth.mp4') %>" type="video/mp4">
	</video>
	<video id="wc" mediagroup="stage" loop muted>
		<source src="<%= video_path('wc-booth.mp4') %>" type="video/mp4">
	</video>
	<audio id="audio">
		<source src="<%= audio_path('audio.mp3') %>" type="audio/mpeg">
	</audio>	
</div>

<div id="control" class="container-fluid">
	<div class="row">
		<div class="col-xs-2">
			<div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
					<button id="record" class="btn btn-danger">Record</button>
				</div>
				<div class="btn-group" role="group">
					<button id="stop" class="btn btn-default disabled">Stop</button>
				</div>
			</div>
		</div>
		<div class="col-xs-8">
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 0%;">
				</div>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
					<button id="play" class="btn btn-default disabled">Play</button>
				</div>
				<div class="btn-group" role="group">
					<button id="submit" class="btn btn-block btn-success disabled">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="user" class="modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<%= form_for(@user, remote: true) do |f| %>
					<% if @user.errors.any? %>
						<div id="error_explanation">
							<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
							<ul>
								<% @user.errors.full_messages.each do |message| %>
									<li><%= message %></li>
								<% end %>
							</ul>
						</div>
					<% end %>
					<div class="form-group">
						<%= f.text_field :name, :placeholder => 'Name', :autocomplete => :off, :class => 'form-control input-lg text-center' %>
					</div>
					<div class="form-group">
						<%= f.text_field :email, :placeholder => 'Email', :autocomplete => :off, :class => 'form-control input-lg text-center' %>
					</div>
					<%= f.submit 'Play!', :class => 'btn btn-lg btn-primary' %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div id="help" class="modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<h2>How To Play</h2>
				<p class="lead">It’s Easy!</p>
				<h3>Step 1</h3>
				<p>Press Record, the track will start playing.</p>
				<h3>Step 2</h3>
				<p>Press the following keys to change the lighting:</p>
				<ul id="keyboard" class="list-inline keys">
					<li><img src="<%= image_path('keys/q.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/w.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/e.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/r.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/t.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/y.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/u.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/i.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/o.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/p.png') %>" class="img-responsive" style="width: 45px;"></li>
				</ul>
				<ul class="list-inline keys">
					<li><img src="<%= image_path('keys/a.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/s.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/d.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/f.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/g.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/h.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/j.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/k.png') %>" class="img-responsive" style="width: 45px;"></li>
					<li><img src="<%= image_path('keys/l.png') %>" class="img-responsive" style="width: 45px;"></li>
				</ul>
				<h3>Step 3</h3>
				<p>Submit your lighting design and share it on social!</p>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Play The Game!</button>
			</div>
		</div>
	</div>
</div>

<div id="done" class="modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<h2>Thanks for playing!</h2>
				<p class="lead">Submit your design for a chance to win!</p>
				<button id="submitModal" class="btn btn-lg btn-success">Submit</button><br>
				<button type="button" class="btn btn-link" data-dismiss="modal">Try Again</button>
			</div>
		</div>
	</div>
</div>

<div id="kill" class="modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<h2>Thanks for playing!</h2>
				<p class="lead">Check your email!</p>
				<p>A share link has been emailed to you.</p>
				<button type="button" class="btn btn-link" data-dismiss="modal">Next Player</button>
			</div>
		</div>
	</div>
</div>